/target
.DS_Store
.env
.vscode/launch.json
.aider*
.vscode
.idea
.idea/*
rustc-ice*.txt
.fleet
*.iml
.gradle
out/
bin/
build/
gen/
deps/
exampleProject
testData
/pretty_printers_tests/target
/native-helper/target
/attributes-info/target
